<!-- 
<div class="alert {{response.hint}}" ng-if="response != null">
	<a class="close" ng-click="purgeResponse()">X</a> {{response.summary}}
</div>
 -->
<div class="container-fluid form-group" style="width:60%; margin-top:30px;">
		<div class="row" style="margin-bottom:30px;">
			<span class="col-sm-8 col-md-8 col-lg-8" ng-if="!user.id">
				Hi, Thank you for trying out Plannation!
			</span>
			<span class="col-sm-8 col-md-8 col-lg-8" ng-if="user.id != null">
				Hi, {{user.firstName}}.  It's a great day for planning!
			</span>
		</div>
		<div class="row">
		<span class="col-sm-4 col-md-4 col-lg-4">
			<label>First Name</label>
			<input class="form-control" type="text" ng-model="user.firstName"></input>
		</span>
		<span class="col-sm-4 col-md-4 col-lg-4">
			<label>Last Name</label>
			<input class="form-control" type="text" ng-model="user.lastName"></input>
		</span>
		<span class="col-sm-4 col-md-4 col-lg-4">
			<label>e-mail</label>
			<input class="form-control" type="text" ng-model="user.email"></input>
		</span>
		</div>
		<div class="row">
		<span class="col-sm-4 col-md-4 col-lg-4">
			<label>User Name</label>
			<input class="form-control" type="text" ng-model="user.userName"></input>
		</span>
		<span class="col-sm-4 col-md-4 col-lg-4">
			<label>Password</label>
			<input class="form-control" type="password" ng-model="user.credential"></input>
		</span>
		<span class="col-sm-4 col-md-4 col-lg-4">
			<label>Password Confirmed</label>
			<input class="form-control" type="password" ng-model="user.confirmation"></input>
		</span>
		</div>
		<div class="row">
			<div class="col-sm-10 col-md-10 col-lg-10"></div>
			<div class="col-sm-2 col-md-2 col-lg-2" style="margin-top:10px;"> 
				<button class="btn btn-primary form-control" ng-click="saveUser('CREATE')" ng-if="!user.id" >Create</button>
			</div>
			<div class="col-sm-2 col-md-2 col-lg-2" style="margin-top:10px;">
				<button class="btn btn-primary form-control" ng-click="saveUser('UPDATE')" ng-if="user.id != null">Update</button>
			</div>
		</div>
		<div ng-if="user.id != null">
			<div class="row col-md-10">
			<table st-safe-src="rowCollection" st-table="displayCollection"
				class="table table-striped smart lean">
				<thead>
					<tr>
						<th st-sort="name" st-sort-default="name"><span>Name</span></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="plan in plans track by $index">
						<td>{{plan.name}}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="1" class="text-center">
							<div st-pagination="" st-items-by-page="5" st-displayed-pages="3"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
</div>